body
{
	 background-image: url("../img/4683.png");
	 background-size: cover;
}

p
{
	text-align: center;
}

#myList
{
  display:table; margin:0 auto;
}

.row
{
	margin-top: 30%;
}

.completed_task
{
	margin-top: 10px;
}

